<div class="container">
  <div class="text">

  <h2>Hold me, I'm a book*</h2>

  <div class="search">
  Enter a title, author, or keyword(s):
  <form action="/" method="post">
    <input type="text" name="book" id="dotted"/>
    <br>
    <input type="submit" value="Search" class="search-button">
  </form>
  <br>
  <% if defined?(@search_term) && @search_term != '' %>
    You searched for: "<%= @search_term %>"
    <br>
  How many holds are on this book or those like it?
  <% end %>

    <% if @search_term == '' %>
    Don't be shy! Search for anything.
    <% end %>
  </div>

  <ul>
    <% if defined?(@books) %>
      <% @books.each do |key, value| %>
        <li>
          <a href=<%= value[:sfpl_url].to_s %>><%= key%></a>
        <br>

        <% if value[:ebook] %>
          <% if value[:ebook][:url].split('.').include?('serialssolutions') %>
            This title is an online journal <a href=<%= value[:ebook][:url] %>>available here.</a>
          <% elsif value[:ebook][:copies] == '' %>
            <a href=<%= value[:ebook][:url] %>>Check the ebook platform for possible holds.</a>
          <% else %>
            <a href=<%= value[:ebook][:url].to_s %>>
            <%= value[:ebook][:holds] %>
            <% if value[:ebook][:holds].to_i == 1 %>
              hold
            <% else %>
              holds
            <% end %>
            on <%= value[:ebook][:copies] %>
            <% if value[:ebook][:copies].to_i == 1 %>
              copy
            <% else %>
              copies
            <% end %>
            </a>
          <% end %>
        <% elsif value[:holds]== '' %>
           No holds. Check the shelves!
        <% else %>
           <span><%= value[:holds] %></span>
        <% end %>

        </li>
      <% end %>
    <% end %>
  </ul>

    <div class="search">
      <% if defined?(@search_term) && @search_term != '' %>
        Don't see the book you're looking for?<br/>
        <a href="<%= @link_plus_url%>">Look up "<%= @search_term %>" on Link+.</a>**
      <% end %>
    </div>
  </div>

  <footer>
    <hr>
    <p> * at the <a href="http://sfpl.org">San Francisco Public Library</a><br>
    </p>
    <p>
   **The title or author you've requested may not be in circulation at the SFPL. It happens! If that's the case, try <a href="http://csul.iii.com/">Link+</a>.
    By definition, Link+ is a "union catalog of contributed holdings from participating libraries in CA and NV." But it's better known
     as a lifeline to rogue researchers near and far.
   </p>

   <p>
     Brought to you by <a href="http://twitter.com/kari_mah">Kari Mah</a>, inveterate requester of library books.
   </p>
  </footer>
</div>