<div id="text">

<h2>Hold me, I'm a book.*</h2>

Enter a title, author, or keyword(s):
<form action="/" method="post">
  <input type="text" name="book">
  <button type="submit" class="btn">Search!</button>
</form>
<br>
<% if defined?(@book) %>
  You searched for: "<%= @book %>"
  <br>
How many holds are on this book or those like it?
<% end %>
<br>
<ul>
<% if defined?(@books) %>
      <% @books.each do |key, value| %>
        <li>
        <a href=<%= @urls[key] %>"><%= key %></a>
          <% if value == '' %><br>
            <strong>No holds</strong>
          <% else %>
            <br>
            <span><strong><%= value %></strong></span>
          <% end %>
        </li>

  <% end %>
<% end %>
</ul>

<% if defined?(@book) %>
Don't see the book you're looking for? <a href=<%=@link_url %>>Search for "<%= @book %>" on Link+.</a>**
<% end %>


<footer>
  <p> * at the <a href="http://sfpl.org">San Francisco Public Library</a><br>

 **The title you've requested may not be in circulation at SFPL. (It happens!) If that's the case, try <a href="http://csul.iii.com/">Link+</a>.
  By definition, Link+ is a "union catalog of contributed holdings from participating libraries in CA and NV." But it's better known
   as a lifeline to rogue researchers near and far.
 </p>

 <p>
   Brought to you by <a href="http://twitter.com/kari_mah">Kari Mah</a>, inveterate requester of library books.
 </p>
</footer>
</div>